/* New shadow dom for play button */
*:-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.showcase {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    z-index: 2;
    transition: .5s;
}
.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
}
.logo {
    text-transform: uppercase;
    cursor: pointer;
    padding-right: 3vw;
}
.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #850007;
  z-index: 4;
  mix-blend-mode: overlay;
}
td {
    background: #fff;
    opacity: .6;
}
.two {
    top: 30vh;
    left: 30vw;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    mix-blend-mode: overlay;
    z-index: 10;
    position: absolute;
}
.outer-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 30px;
    flex-wrap: wrap;
}
.text {
  margin-right: auto;
  float: left;
  z-index: 10;
}

.text h2 {
  font-size: 3vw;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  color: #fff;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1vw;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  text-decoration: none;
}
.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 1vw;
}
a:visited {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: white;
    padding-right: 0;
}
a:hover {
  color:  red;
}
#down {
  margin-bottom: 2vw;
}
.social a:hover {
  color:red;
}
@media only screen and (max-width: 1000px) {
    table, td, tr {
      display: block;
      text-align: center;
    }
    table{
      justify-content: center;
      margin-left: 25%;
      margin-right: 23%;
    }
    td{
      margin-bottom: 1vw;
    }
    .mintb{
      display: block;
      text-align: center;
    }
    .two{
      top: 66vw;
    }
    .logo{
      padding-bottom: 3vw;
    }
      .showcase  {
        padding: 40px;
        justify-content: center;
      }
      .showcase header{
        padding: 4vw;
        text-align: center;
        justify-content: center;
      }
      .text{
        padding-top: 20%;
      }
      .text h2
      {
        font-size: 3vw;
        justify-content: center;
        text-align: center;
      }
     .text a{
       font-size: 3vw;
       justify-content: center;
       text-align: center;
       margin-right: 3vw;
     }
     .social{
       text-align: center;
       justify-content: center;
       padding-left: 1vw;
       font-size: 1.5vw;
     }
      .text h3
      {
        font-size: 2em;
      }
      #down{
        margin-bottom: -2vw;
      }
      #vis{
        display: none;
        visibility: hidden;
      }
    }
@media only screen and (max-width: 700px) {
  #vis, #vis2{
    display: none;
    visibility: hidden;
  }
  h2{
    margin-left: 3vw;
  }
  .text a{
    margin-right: 4vw;
  }
  #down{
    margin-bottom: -6vw;
  }
  .social{
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 600px) {
  #down{
    margin-bottom: -4vw;
  }
}
